params {
    reads = "/users/tstoep/project/scripts/data/*{1,2}.fastq"
    transcriptome = "/users/tstoep/project/scripts/output/trinity.Trinity.fasta" 
    outdir = "/users/tstoep/project/scripts/output"

    singularity_image1 = "/users/tstoep/project/scripts/trinityrnaseq_latest.sif"
    singularity_image4 = "/users/tstoep/project/scripts/fastqc.sif"
    singularity_image5 = "/users/tstoep/project/scripts/trimmomatic.sif"
    
    //ExN50 needs
    trinity_stats = "/usr/local/bin/util/TrinityStats.pl"
    quant_file = "/users/tstoep/project/scripts/output/trinity/salmon_outdir/quant.sf"
}

process {
    withName: FASTQC {
        executor = 'local'
        cpus = '1'
        memory = '4 GB'
    }
    withName: TRIMMOMATIC {
        executor = 'local'
        cpus = '1'
        memory = '8 GB'
    }
    withName: 'TRINITY' {
        memory = '90 GB'
        cpus = 32
    }
}
